<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>Some Website.</title>
    </head>
    <body>
        {{>header}}
        <b><p>WELCOME TO MY PROJECT.</p></b>

       {{>footer}}
    </body>
</html>